@import './movie_list.scss';
@import './selected_movie.scss';
@import './similar_movies.scss';


@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,400,600,700');
body,
html {
  -webkit-font-smoothing: antialiased;
  font-family: 'Nunito', sans-serif;
  background: rgba(235, 235, 235, 0.2);
}
nav {
  display: none;
}
