.selected-movie-container {
  position: relative;

  .single-movie-poster {
    width: 100%;
    display: block;
    margin: 0 auto;
    height: 444px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  }

  .embed-responsive {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    height: 100%;

    iframe {}
  }

  .mv-info::-webkit-scrollbar {
    display: none;
  }

  .mv-info {
    background: rgba(255, 255, 255, 0.8);
    padding: 1em;
    max-height: 450px;
    overflow-y: scroll;
    height: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);

    .mv-title {}

    .meta-info {
      width: 100%;
      float: left;
      margin-bottom: 1em;

      .movie-poster-single {
        float: left;
        width: 92px;
        height: 138px;
      }

      .meta-list {
        list-style-type: none;
        font-size: calc(13px - 0.0625em);
        display: flex;
        height: 100px;
        margin: 0;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: space-around;

        li {
          width: 100%;
        }

        .meta-heading {
          font-weight: bold;
        }
      }
    }

    .mv-overview {
      font-size: calc(15px - 0.0625em);
      margin-top: 1em;
    }

    .mv-tagline {
      font-size: calc(16px - 0.05em);
      font-weight: 400;
      font-style: italic;
    }

    .mv-cats {
      display: flex;
      flex-flow: row;

      span {
        border: 1px solid black;
        padding: 6px;
        margin: 0 6px 0 0;
        border-radius: 20px;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
      }
    }
  }

  .mv-background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 25%;
    top: 0;
    left: 0;
    height: 600px;
    width: 100%;
    position: absolute;
    overflow-x: hidden;
  }

  .mv-background:after {
    content: "";
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    position: absolute;
  }
}
